<h3 style='text-align: center;'>Edit Blog Post</h3>

<div class='mb-3'>
  <label for='title' class='form-label'>Blog Title</label>
  <input type='text' class='form-control' id='title' />
</div>
<div class='mb-3'>
  <label for='content' class='form-label'>Blog Content</label>
  <textarea class='form-control' id='content' rows='3'></textarea>
</div>
<button id='update' class='btn btn-primary'>Update Post</button>
<button id='delete' class='btn btn-primary'>Delete Post</button>

<script src='./js/editPost.js'></script>