<form action='/users/login' method='post' class='login-form'>
  <div class='mb-3'>
    <label for='email-login' class='form-label'>Email address</label>
    <input
      type='email'
      class='form-control'
      id='email-login'
      aria-describedby='emailHelp'
    />
  </div>
  <div class='mb-3'>
    <label for='password-login' class='form-label'>Password</label>
    <input type='password' class='form-control' id='password-login' />
  </div>
  <button type='submit' class='btn btn-primary login-form'>Login</button>
  <a href='/sign-up'>Sign-up instead!</a>
</form>

<script src='./js/login.js'></script>