<h3 class='secondary-header'>Create A New Blog Post</h3>

<div class='w-50 mx-auto'>
  <div class='mb-3'>
    <label for='title' class='form-label'>Blog Title</label>
    <input type='text' class='form-control' id='title' />
  </div>
  <div class='mb-3'>
    <label for='content' class='form-label'>Blog Content</label>
    <textarea class='form-control' id='content' rows='3'></textarea>
  </div>
</div>

<div class='text-center'>
  <button id='submit' class='btn btn-primary'>Submit</button>
</div>
<script src='../js/createPost.js'></script>